In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import stan # python3 -m pip install pystan
import nest_asyncio
nest_asyncio.apply()
import warnings

In [2]:
df = pd.read_csv("Number_Pivoted.csv")
df.head()

,Year,[0],[1-4],[10-14],[15-19],[20-24],[25-29],[30-34],[35-39],[40-44],...,[5-9],[50-54],[55-59],[60-64],[65-69],[70-74],[75-79],[80-84],[85+],[All]
0,2000,163.0,567.0,936.0,5176.0,5264.0,3679.0,3153.0,3549.0,3392.0,...,751.0,2413.0,1890.0,1581.0,1414.0,1583.0,1724.0,1390.0,1276.0,42866.0
1,2001,140.0,564.0,899.0,5155.0,5465.0,3675.0,3196.0,3522.0,3549.0,...,669.0,2557.0,1915.0,1518.0,1393.0,1571.0,1792.0,1459.0,1209.0,43328.0
2,2002,122.0,541.0,900.0,5549.0,5760.0,3689.0,3343.0,3441.0,3616.0,...,636.0,2700.0,2005.0,1755.0,1456.0,1615.0,1734.0,1506.0,1264.0,44937.0
3,2003,146.0,510.0,929.0,5265.0,5678.0,3649.0,3195.0,3293.0,3696.0,...,608.0,2798.0,2252.0,1741.0,1430.0,1533.0,1655.0,1521.0,1337.0,44555.0
4,2004,140.0,524.0,941.0,5180.0,5726.0,3825.0,3162.0,3195.0,3470.0,...,601.0,2867.0,2287.0,1789.0,1549.0,1414.0,1650.0,1482.0,1242.0,44505.0